<!-- Main Footer -->
<footer class="bg-light text-center text-white">

  

  <div>
    <span class="contactDetails">Connect with us :</span>
    <a href="" class="me-4 text-reset" style="padding: 3px;">
      <img src="assets/img/Group 26931.svg"  alt="twitter">
    </a>
    <a href="" class="me-4 text-reset" style="padding: 3px;">
      <img src="assets/img/Group 26932.svg"  alt="facebook">   
    </a>
    <a href="" class="me-4 text-reset" style="padding: 3px;">
      <img src="assets/img/Group 26934.svg"  alt="instagram">
    </a>
    <a href="" class="me-4 text-reset" style="padding: 3px;">
      <img src="assets/img/Group 26930.svg"  alt="youtube">
    </a>
  </div>

  <div class="float-center d-none d-sm-inline-block">
    <p class='footerDetails'>Copyright &copy; 2019 Reliance Jio Information Ltd All rights reserved.</p>
  
  </div>

<!--   
  <div class="float-center d-none d-sm-inline-block">
    <b>Version</b> 0.0.1
  </div> -->
</footer>