
<div class="wrapper">
    <!-- Navbar -->
    <app-navbar></app-navbar>
    <!-- /.navbar -->
  
    <!-- Main Sidebar Container -->
    <app-left-side></app-left-side>
    <!--/ Main Sidebar Container -->
  
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
          
              <!-- Content Header (Page header) -->
              <div class="content-header">
                <div class="container-fluid" >
                  <div class="row mb-2">
                    <div class="col-sm-12">   

                      <div class="parent">
                          <div class="right">
                            <p class="currentDate" >Monday | 30.08.2021</p>
                          </div>
                        </div>
                      <!-- <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><p class="currentDate" >Monday | 30.08.2021</p></li>
                      </ol> -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.container-fluid -->
                <hr/>
                <div class="container-fluid">
                  <div class="row mb-2">
                    <div class="col-sm-6">
                      <p class="title" >Welcome Pratik,</p>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><p class="title" >Global Tuch</p></li>
                      </ol>
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.container-fluid -->

                <div class="container-fluid">
                  <div class="card card-default" style="width: 100%"  > 

                    <div class='container'>

                      <div class="row" style="margin-top: 10px;">
                       
                          <div class="col-lg-2 col-md-6 col-sm-4">           
                            <div class="btnLable">
                              Total
                            </div>
                            <button type="button" class="btn activeButton">500</button>
                          </div>

                          <div class="col-lg-2 col-md-6  col-sm-4">
                            <div class="btnLable">
                              <img src="assets/img/Group 31546.svg"  alt="twitter">
                               In
                            </div>
                            <button type="button" class="btn">479</button>
                          </div>          

                          <div class="col-lg-2 col-md-6  col-sm-4">
                            <div  class="btnLable">
                              <img src="assets/img/Group 31547.svg"  alt="twitter">
                              Out
                            </div>
                            <button type="button" class="btn ">463</button>
                          </div>

                          <div class="col-lg-2 col-md-6  col-sm-4">
                            <div  class="btnLable">
                              <img src="assets/img/Group 31550.svg"  alt="twitter">
                              No Activity
                            </div>
                            <button type="button" class="btn ">21</button>
                          </div> 

                          <div class="col-lg-2 col-md-6">
                            <div  class="btnLable">Site Location (2)</div>
                            <input class ='searchInput' type="text" placeholder="Search Site Location..">
                          </div> 
                      
                      </div> 

                     
                      <div class="row" style="margin-top:30px;">
                        <div class="col-md-12">
                          <div class="parent">
                            <div class="right">
                              <button type="button" class="btn viewAttendance ">View Attendance</button>
                            </div>
                          </div>
                        </div>
                      
                      </div>
                        
                        
                   
                                 
                        <div class="row" style="margin-top:50px;">
                          <div class="col-md-6">
                                    <!-- DONUT CHART -->
                            <div class="card" >
                              <div class="card-header">
                                <h3 class="card-title">Time Statistics</h3>
                              </div>
                              <div class="card-body">
                                <canvas id="canvas"></canvas>
                              </div>
                              <!-- /.card-body -->
                            </div>
                         <!-- /.card -->
                 
                              
                          </div>
                          <div class="col-md-6">

                            <div class="card ">
                              <div class="card-header">
                                <h3 class="card-title">Today's Trand</h3>
              
                              </div>
                              <div class="card-body">
                                <div class="chart">
                                  <canvas id="lineChart"></canvas>
                                </div>
                              </div>
                              
                          </div>
                      </div>
                        
                      </div>            
                   
                  </div>   

                 </div>

              </div>

              <div class="container-fluid">

              </div>
              <div class="container-fluid">

              </div>
    </div>
       
 
    <!-- /.content-wrapper -->
    
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
   <!-- Main Footer -->
   <app-footer></app-footer>
   <!-- /Main Footer -->
    
  </div>
