<nav  class="main-header navbar navbar-expand navbar-light topnavbar">
  <!-- Left navbar links -->
  <!-- <ul class="navbar-nav">
    <li class="nav-item" >
      <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="z-index: 1000;"><i class="fas fa-bars"></i></a>
    </li>  
  </ul> -->
  <ul class="navbar-nav">

    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link " style="color: #6c6c6c ;font-weight: bold;">MOBILITY</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link " style="color: #6c6c6c;font-weight: bold;">JIOFIBER</a>
    </li> 
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link " style="color: #2A3890;font-weight: bold;">BUSINESS</a>
    </li> 

  </ul>

  
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item d-none d-sm-inline-block" style="padding: 3px;">
        <img src="assets/img/Group 24455.svg"  alt="notification">
        <img src="assets/img/Group 25065.svg"  alt="notification" style="z-index: 1000;">
      </li>
      <li class="nav-item d-none d-sm-inline-block" style="padding: 3px;">
        <img src="assets/img/Group 24456.svg"  alt="search">
      </li> 

    </ul>
  <!-- Right navbar links -->
</nav>


<nav  class="main-header navbar navbar-expand navbar-light ">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item" >
      <img src="assets/img/Icon-header-5.svg"  alt="menuIcon" role="button" style="z-index: 1000;">
      <!-- <a class="nav-link" data-widget="pushmenu" href="#" role="button" style="z-index: 1000;"><i class="fas fa-bars"></i></a> -->
    </li>  
  </ul>

    <div class="navbar-brand">
      <img src="assets/img/LOGO.svg"  alt="LOGO" style="width: 84px;height: 40px;">
    </div>

  <!-- <div style="text-align: center;">
    <h1>LOGO</h1>
  </div> -->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">MANAGE ACCOUNT</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">SUPPORT</a>
      </li> 
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">USERNAME</a>
      </li> 

    </ul>
  <!-- Right navbar links -->
</nav>