.brand-image 
{
    .img-circle{
        background-color: red;
    }
  
    
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link
{
    color: #0676f0;
    background-color: white;
}

.optionStyle{
   border: 1px solid #959595;
}