<aside class="main-sidebar sidebar-light-primary ">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <!-- <img src="assets/agam.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-4"
         style="background-color: white;">
    <span class="brand-text font-weight-light">Agam Dashboard</span> -->
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div> -->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li  class="nav-link active" style="border: 1px solid lightgray;" >
         <p>Dashboard</p> 
        </li>

        <li class="nav-item optionStyle" >
          <a href="#" class="nav-link">
            <p>Manage</p>
          </a>
        </li>
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <p>Member</p>
          </a>
        </li>
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <p>Site Location</p>
          </a>
        </li>
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <p>Licenses</p>
          </a>
        </li>
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <p>Permissions</p>
          </a>
        </li>
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <p>Setting</p>
          </a>
        </li>

        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <p>Support</p>
          </a>
        </li>
        
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <i></i>
            <p>FAQs</p>
          </a>
        </li>
        <li class="nav-item optionStyle">
          <a href="#" class="nav-link">
            <i></i>
            <p>Contact Us</p>
          </a>
        </li>

        
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
